# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!README.md
!LICENSE
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
# Podcast-parser
!wp-content/plugins/libsyn-parser/
# Image Effects
!wp-content/plugins/image-effects-generator/
# Reading time plugin
!wp-content/plugins/post-reading-time/
 
# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/osqledaren/

# Ignore sass cache
wp-content/themes/osqledaren/assets/css/.sass-cache/