# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!README.md
!LICENSE
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*

# Podcast-parser
!wp-content/plugins/libsyn-parser/

# Reading time plugin
!wp-content/plugins/post-reading-time/

#Advanced Custom Fields
!wp-content/plugins/advanced-custom-fields/

#Contact form 7 
!wp-content/plugins/contact-form-7/

!wp-content/plugins/simple-ads-manager/
 
# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/osqledaren/

# Ignore sass cache
wp-content/themes/osqledaren/assets/css/.sass-cache/