
/* -------- Advertising Page -------- */


#covers {
	width: 100%;
	height: 474px;
	overflow: hidden;
	
	@media all and (-webkit-min-device-pixel-ratio: 1.5),
	all and (-o-min-device-pixel-ratio: 3/2),
	all and (min--moz-device-pixel-ratio: 1.5),
	all and (min-device-pixel-ratio: 1.5) {
		height: 354px;
	}
	
	img {
		display: block;
		float: left;
		
		@media all and (-webkit-min-device-pixel-ratio: 1.5),
		all and (-o-min-device-pixel-ratio: 3/2),
		all and (min--moz-device-pixel-ratio: 1.5),
		all and (min-device-pixel-ratio: 1.5) {
			width: 95px;
			height: 118px;
		}
	}
}