#adv_cal_wrapper {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 110px);

    background: url("../img/adv_cal_typ1535x2540.png") no-repeat;
    background-position: center;
    background-size: cover;

    &.no-click {
        .active {
            flex: 1 !important;
            .adv_cal_nr {
                width: 100%;
            }
        }
    }

    iframe {
        display: none;
        width: 75%;
        float: right;
        height: 400px;
    }

    .advent-div {
        display: flex;
        align-items: center;
    }

    .adv_cal_nr {
        color: white;
        font-family: "abril-titling", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 10em;
        float: left;
        text-align: center;
        line-height: 1;

        small {
            display: block;
        }
    }
    .lock {
        display: flex;
        justify-content: center;

        .thumbnail-wrapper {
            display: flex;
            align-items: center;
            width: 50px;
            height: 50px;
            text-align: center;
            img {
                width: 100%;
                height: auto;
            }
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    & > div {
        flex: 1;
        outline: 0;
        background: rgba(#1A3112, 0.5);
        transition: flex 1s ease;
        background: rgba(black, 0.8);
        filter: blur(10px);
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        .adv_cal_nr {
            //width: 100%;
        }

        &.active {
            flex: 5;
            background: none;
            box-shadow: 0 0 100px #000 inset;

            .adv_cal_nr {
                width: 20%;
            }

            iframe {
                display: block;
                padding: 5% 5% 5% 0;
            }
        }

        &:nth-child(odd) {
            /*background: rgba(#992114, 0.5);*/
        }
    }

    .no-click {
        &:hover {
            cursor: not-allowed;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: calc(100vh - 110px);

        & > div {
        }

        .adv_cal_nr {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 4em;
        }

        .active {
            flex-direction: column;
        }

        .advent-div {
            display: flex;

            flex-direction: row;
            justify-content: center;
        }

        iframe {
            height: 90%;
        }
    }
}
