#adv_cal_wrapper {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 110px);

    background: url("../img/adv_cal_typ1535x2540.png") no-repeat;
    background-position: center;
    background-size: cover;

    &.no-click {
        .active {
            flex: 1 !important;
            .adv_cal_nr {
                width: 100%;
            }
        }
    }

    iframe {
        display: none;
        width: 75%;
        float: right;
        height: 400px;
    }

    .advent-div {
        display: flex;
        //border: solid 10px black;
        align-items: center;
    }

    .adv_cal_nr {
        color: white;
        font-family: "abril-titling", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 10em;
        width: 20%;
        float: left;
        text-align: center;
        line-height: 1;
    }

    .lock {

        display: block;
        text-align: center;

        img {
            width: 50px;
            height: 50px;
        }
    }

    

    & > div {
        flex: 1;
        outline: 0;
        background: rgba(#1A3112, 0.5);
        transition: all 0.5s ease;
        box-shadow: inset 0 0 10px #000000;

        &:hover {
            cursor: pointer;
        }

        .adv_cal_nr {
            width: 100%;
        }

        &.active {
            flex: 5;

            .adv_cal_nr {
                width: 20%;
            }

            iframe {
                display: block;
                padding: 5% 5% 5% 0;
            }
        }

        &:nth-child(odd) {
            background: rgba(#992114, 0.5);
        }
    }

    .no-click {
        background: rgba(#333, 0.75) !important;

        &:hover {
            cursor: not-allowed;
        }

        &:nth-child(odd) {
            background: rgba(#000, 0.75) !important;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .adv_cal_nr {
            font-size: 5em;
            line-height: 1.5;
            width: 100% !important;
        }
    }
}
