
/* -------- Single Article -------- */


#article {
	.row {
		margin-bottom: 0;
	}	
	.article {		
		.article_image {
			background: $osq-medium-grey;
			background-repeat: no-repeat;
			background-position: center center;
			@include background-size(cover !important);
			@include box-shadow(inset 0px 20px 5px -20px rgba(0, 0, 0, 0.5));
			@include animation(fadein 1.5s ease-in-out);
			
			.overlay {
				overflow: hidden;
				background-color: rgba(0, 0, 0, 0.5);
				
				img {
    				background-color: #fff;
					@include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.35));
				}
			}
		}
		.article_image,
		.inline_image_wrap .inline_image {
			width: 100%;
			max-height: 600px;
			
			img {
				display: block;
				margin: auto;
				max-height: 600px;
			}
		}
		.inline_image_wrap {
			margin-bottom: 30px;
			
			.inline_image {
				min-width: 1180px;
				max-height: 600px;
				position: absolute;
				left: 0;
				background-color: #f0f0f0;
				
				img {
					width: auto;
				}
				.overlay {
					background-color: rgba(255, 255, 255, 0.5);
				}
			}
		}
		
		.content {
			margin-top: 40px;
			
			.padding {
				max-width: 700px;
				margin-left: auto;
				margin-right: auto;
			
				img {
					max-width: 100%;
					height: auto;
				}
				.alignleft {
					float: left;
					margin: 0 20px 20px 0;
				}
				.alignright {
					float: right;
					margin: 0 0 20px 20px;
				}
				.wp-caption {
    				position: relative;
    				max-width: 100%;
    				margin-bottom: 30px;
    				
    				img {
        				display: block;
    				}
    				.wp-caption-text {
        				position: absolute;
        				width: 100%;
        				@include box-sizing(border-box);
        				bottom: 0;
        				padding: 20px;
        				background-color: rgba(0, 0, 0, 0.5);
        				color: #fff;
        				font-size: 16px;
    				}
    				/*@media screen and (max-width: 767px) {
        				position: absolute;
        				width: 100%;
        				left: 0;        				
            		}*/
    				@media screen and (max-width: 600px) {
            			.wp-caption-text {
                			position: static;
                			background-color: $osq-light-grey;
            			}
            		}
				}
				.gallery {
                    margin-bottom: -30px;
                    
                    figure.gallery-item {
                        display: inline-block;
                        float: left;
                        margin-left: 30px;
                        margin-bottom: 30px;
                        
                        a {
                            display: inline-block;
                        }
                        &:nth-child(4n+1) {
                            margin-left: 0;
                        }
                    }
                    &:after {
                    	content: " ";
                    	visibility: hidden;
                    	display: block;
                    	height: 0;
                    	clear: both;
                    }
                }
                iframe {
	                max-width: 100% !important;
				}
			}
		}
		
		.meta {
			background-color: $osq-orange;
			margin-top: 50px;
			margin-bottom: 30px;
			
			.padding {
				padding: 40px 100px;
			}			
			* {
				color: #fff;
				font-size: 16px;
				/*font-weight: 300;*/
			}
			.slash {
				letter-spacing: -3px;
				margin-right: 3px;
			}
			.left {
				float: left;
				text-transform: uppercase;
			}
			.right {
				float: right;
				text-align: right;
				
				.cat {
					text-transform: uppercase;
					font-style: italic;
				}
				.date {
					text-transform: lowercase;
				}
			}
		}
	}
	.comments {
		margin-bottom: 30px;
	}
	#disqus_thread {
		margin: auto;
		width: 1140px;
	}
	.next {
		background-repeat: no-repeat;
		background-position: center center;
		@include background-size(cover !important);
		@include box-shadow(inset 0px 20px 5px -20px rgba(0, 0, 0, 0.5));
		
		* {
			color: #fff;
		}
		.overlay {
			background-color: rgba(0, 0, 0, 0.5);
			@include transition(0.35s background);
					
			.padding {
				max-width: 800px;
				margin: auto;
				padding-top: 40px;
				padding-bottom: 40px;
				
				.meta {						
					p {
						margin-bottom: 15px;
						font-size: 16px;
					}
					.desc {
						float: left;
						text-transform: uppercase;
					}
					.time {
						float: right;
					}
				}
				hr {
					position: absolute;
					width: 100%;
					left: 0;
					background-color: #fff; /* IE */
					background-color: rgba(255, 255, 255, 0.2);
				}
				.content {
					margin-top: 40px;
				}
			}
		}
		&:hover .overlay {
			background-color: rgba(0, 0, 0, 0.35);
		}
	}
}

@media screen and (max-width: 1180px) {
	#article {
		.article {		
			.article_image {
				width: 100%;
				
				img {
					max-width: 100%;
				}
			}
			.inline_image_wrap {
				margin-bottom: 30px;
				
				.inline_image {
					min-width: initial;
					//max-height: 600px;
					
					img {
						//width: auto;
					}
				}
			}
			.meta {
				.padding {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
		#disqus_thread {
			width: 840px;
		}
	}
}
@media screen and (max-width: 880px) {
	#article {
		.article {		
			.inline_image_wrap .inline_image {
				width: 100%;
				//max-height: 600px;
				
				img {
					max-height: none;
					//max-height: 600px;
				}
			}
		}
		#disqus_thread {
			width: 727px;
		}
	}
}
@media screen and (max-width: 767px) {
	#article {
		.article {		
			.content {
				margin-top: 30px;
			}
			.meta {
				.left,
				.right {
					float: none;
					text-align: left;
				}
				.left {
					margin-bottom: 20px;
				}
			}
		}
		#disqus_thread {
			width: 100%;
			padding: 0 30px;
		}
	}
}