
/* Footer */

body:before { /* Opera min-height 100% Fix */
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px; /* Eliminate need for inner non clearing element */
}
#main:after, /* #main:after for IE8 min-height:100% Fix */
.page_content:after { /* #content:after for Float Containment */
	clear: both;
	content: "";
	display: block;
	height: 1%; /* Fix IE8 min-height:100% bug */
}
#main {
	min-height: 100%;
	//margin-top:0; /* Reclaim footer height and pull the wrapper through top of viewport */
	margin-top: -$footer-height; /* Reclaim footer height and pull the wrapper through top of viewport */
}
.page_content {
	//padding: $header-height + 40px 0 40px; /* Give top padding to clear fixed header */
	padding: $footer-height+$header-height+40px 0 40px; /* Give top padding to clear fixed header */

}

#footer {
	height: $footer-height; 
	background: $osq-orange;
	
	* {
		color: #fff;
		font-size: 16px;
	}
	.row {
		height: 140px;
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		
		.top {
			width: 40px;
			height: 40px;
			margin: auto;
			@include at2x('../img/top', png, 40px, 40px);
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			@include rotate(0.35s ease-in-out);
			
			&:hover {
				@include transform(rotate(360deg));
			}
		}
		.tagline {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 40px;
			margin-bottom: 0;
			text-align: center;
			
			.accent {
				font-family: "abril-titling", sans-serif;
				font-style: italic;
				font-weight: 700;
			}
		}
		.copy {
			position: absolute;
			left: 15px;
			bottom: 40px;
			margin-bottom: 0;
			font-size: 14px;
			color: $osq-light-orange;
		}
		.cred {
			position: absolute;
			right: 15px;
			bottom: 40px;
			margin-bottom: 0;
			font-size: 14px;
			text-align: right;
			color: $osq-light-orange;
			
			a {
				font-size: 14px !important;
				color: $osq-light-orange;
				
				&:hover {
					color: #fff;
					@include transition(color 0.35s);
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	footer#footer {
		height: auto;
		
		.row {
			height: auto;
			
			.tagline,
			.copy,
			.cred {
				position: static;
				text-align: left;
			}
			.tagline {
				margin-top: 10px;
				margin-bottom: 50px;
			}
			.copy {
				margin-bottom: 0;
			}
			.top {
				float: right;
			}
		}
	}
}