
/* -------- General -------- */


/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px;
	font-family: "jaf-bernina-sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height: 100%;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}
body {
	line-height: 1;
	background-color: $osq-cream;
	color: $osq-medium-grey;
}
ul, ol {
	margin-left: 15px;
}
ul, ol, li {
    margin-bottom: 10px;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-top: 10px;
    margin-left: 20px;
}
blockquote, q, blockquote p, q p {
	quotes: none;
	max-width: 700px;
	margin: 25px auto 30px auto;
	font-family: "abril-titling", sans-serif;
	font-size: 34px;
	font-weight: 600;
	font-style: italic;
	line-height: 34px;
	color: $osq-orange;
}
blockquote strong, q strong {
	font-family: "abril-titling", sans-serif;
	font-size: 34px;
	font-weight: 700;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
blockquote p:before, q p:before {
	content: '“';
}
blockquote p:after, q p:after {
	content: '”';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
	font-family: "abril-titling", sans-serif;
	font-weight: 700;
	font-style: italic;
	color: $osq-dark-grey;
}
h1, h1 a {
	font-size: 42px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
h2, h2 a {
	font-size: 38px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 25px;
}
h3, h3 a {
	font-size: 28px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
h4, h4 a {
	font-size: 1em;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
h5, h5 a {
	font-size: .83em;
}
h6, h6 a {
	font-size: .75em;
}
a, a:hover, a:active, a:visited {
	color: $osq-light-orange;
	text-decoration: none;
}
a:hover {
	color: $osq-orange;
	@include transition(background 0.35s, color 0.35s);
}
p {
	line-height: 25px;
	margin-bottom: 25px;
}
hr {
	height: 1px;
	border: none;
	margin: 0 0 30px 0;
	background-color: $osq-light-grey;
}


/* Forms */
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
form {
	input,
	textarea {
		width: 400px;
		max-width: 100%;
		margin-bottom: 20px;
		padding: 15px 20px;
		display: block;
		@include box-sizing(border-box);
		border-width: 0;
		@include border-radius(0);
		-webkit-appearance: none;
		font-size: 16px;
		background-color: #dbdbdb;
		font-family: "jaf-bernina-sans", sans-serif;
	}
	::-webkit-input-placeholder {
		color: #fff;
			opacity: 0.5;
	}
	:-moz-placeholder {
		color: #fff;
	}
	::-moz-placeholder {
		color: #fff  
	}
	:-ms-input-placeholder {  
		color: #fff;  
			opacity: 0.5;
	}
	br {
		display: none;
	}
}


/* Nice stuff */
.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
ol.unstyled, ul.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}