
/* Header */
#header {
	* {
		color: #fff;
	}
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: $header-height;

	z-index: 999;
	background: $osq-orange;
	
	.row {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.go_home {
		display: inline-block;
		float: left;
		
		#logo {
			width: 90px;
			height: 50px;
			margin-right: 30px;
			margin-top: -7px;
			padding-bottom: 14px;
			position: relative;
			@include at2x('../img/logo', png, 90px, 50px);
			background-repeat: no-repeat;
			background-position: center center;
			
			
			#stripe {
				width: 0;
				height: 7px;
				position: absolute;
				bottom: -3px;
				background-color: #fff;
			}
			#stripe.loaded {
				@include animation(logo-out 0.2s ease-in-out);
			}
			&:hover #stripe {
				width: 100%;
				@include animation(logo-in 0.2s ease-in-out);
			}
		}
	}
	.menu {
		@media screen and (max-width:768px){
			display:none;
		}
		li {

			float: left;
			margin-left: 30px;
			margin-top: 16px;
			text-transform: uppercase;
			
			a {
				border-bottom: 2px solid $osq-orange;
				
				&:hover {
					border-color: rgba(255, 255, 255, 0.5);
					@include transition(border-color 0.35s);
				}
			}
		}
	}
	.search_form{

		@media screen and (max-width:768px){
			display:none;
		}
		position: relative;

		/* If search also has class .selected -> do changes to search_icon and search_field */
		&.selected{
			.search_icon {
				right:13px;
			}
			.search_field{
				width: 200px;
				padding: 15px 50px 15px 20px;
				height:20px;

			}
		}
		
		.search_icon {
			width: 24px;
			height: 24px;
			position: absolute;
			top: 13px;
			@include at2x('../img/search_white', png, 24px, 24px);
			background-repeat: no-repeat;
			background-position: center center;
			z-index: 99;
			cursor: pointer;
			right:0px;
			transition: right 1s;
		}
		.search_field {
			transition:width 1s;

			padding:0;

			width: 0px;
			height: 0px;
			margin: 0;
			float: right;
			font-size: 16px;
			color: #fff;
			background-color: #d3461e;
			border-width: 0;
			@include border-radius(0);
			-webkit-appearance: none;
			@include box-sizing(content-box);

		}
		::-webkit-input-placeholder {
			color: #fff;
   			opacity:  0.5;
		}
		:-moz-placeholder {
			color: #fff;
		}
		::-moz-placeholder {
			color: #fff  
		}
		:-ms-input-placeholder {  
			color: #fff;  
   			opacity:  0.5;
		}
	}
	.collapse-icon{
		@media screen and (max-width:768px){
			display:inline-block;
		}
		display:none;
		float:right;

		width: 90px;
		height: 50px;
		margin-right: 30px;
		margin-top: -7px;
		padding-bottom: 14px;
		position: relative;
		background-image:url("../img/dropdown.png");
		background-repeat: no-repeat;
		background-position: center center;
	}
}

#header.detached {
	position: fixed;
	transition: all 0.5s;
}
.headerHidden {
	top: -1*$header-height !important;
}

.dropdown-menu{
	&.hidden{
		display:none;
	}

	position:absolute;
	top:$header-height;
	width:100%;
	height:auto;
	display:block;

	border-top:1px solid white;

	ul{
		background-color:$osq-orange;
		width:100%;

		li{
			height:40px;
			line-height:40px;

			text-align:center;

		}
	}
}

