
/* -------- Other Pages -------- */

.page_content .row {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* Fråga Fysikern */

.fraga_fysikern .row,
#fraga_fysikern_row {
	margin-top: 0;
	
	#fraga_fysikern_header {
		@media screen and (max-width: 767px) {
			padding-left: 0;
			padding-right: 0;
		}
		
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}
.ff_question,
.ff_answer {
	min-height: 46px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: top left;
}
.ff_signature,
.ff_goran {
	padding-left: 70px;
	color: $osq-orange;
	font-style: italic;
}
.ff_question {
	@include at2x('../img/fraga_fysikern/ff_question', png, 47px, 46px);
}
.ff_answer {
	margin-top: 30px;
	@include at2x('../img/fraga_fysikern/ff_answer', png, 47px, 46px);
}
#article .category-fraga-fysikern .content .padding {
	max-width: 770px;
	
}

/* 404 */

.error_404 {
	text-align: center;
	
	img {
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
	.meta {
		margin-top: 30px;
		padding: 20px 25px;
		display: inline-block;
		background-color: $osq-orange;
		
		p {
			margin-bottom: 0;
			font-size: 16px !important;
			font-weight: 300;
			color: $osq-light-orange;
			
			.slash {
				letter-spacing: -3px;
				margin-right: 3px;
			}
		}
	}
}