
/* -------- Structure -------- */

.container {
	width: 100%;
}
.row {
	width: 1180px;
	margin: auto;
}
.padding {
	padding-left: 20px;
	padding-right: 20px;
}

@media screen and (max-width: 1180px) {	
	.row {
		width: 880px;
	}
}

@media screen and (max-width: 880px) {	
	.row {
		width: 767px;
	}
}

@media screen and (max-width: 767px) {	
	.row {
		width: 100%;
	}
}