
/* -------- Variables -------- */

/* But first, lemme state some colors */
$osq-orange: #f05022;
$osq-light-orange: #ebb07b;
$osq-cream: #fbf9f7;
$osq-light-grey: #a0a0a0;
$osq-medium-grey: #4f4f4f;
$osq-dark-grey: #2f2f2f;

$header-height: 110px;
$footer-height: 200px;

@import url('../fonts/nymphette_regular_macroman/style.css');

@import 'retina'; /* Retina Mixin */
@import 'presets'; /* Animations, variables etc */
@import 'general'; /* Reset and general tags */
@import 'structure'; /* Scaffolding and structure */

@import 'header'; /* Header */
@import 'footer'; /* Footer */
@import 'articles'; /* Article page */
@import 'article'; /* Article single page */
@import 'pods'; /* Pod page */
@import 'about'; /* About page */
@import 'advertise'; /* Advertising page */
@import 'pages'; /* Other pages */
@import 'advertising'; /* Advertising */
@import 'adv-cal'; /* Advertising */
