
/* -------- Variables -------- */

/* But first, lemme state some colors */
$osq-orange: #f05022;
$osq-light-orange: #ebb07b;
$osq-cream: #fbf9f7;
$osq-light-grey: #a0a0a0;
$osq-medium-grey: #4f4f4f;
$osq-dark-grey: #2f2f2f;

@import 'presets'; /* Animations, variables etc */
@import 'general'; /* Reset and general tags */
@import 'structure'; /* Scaffolding and structure */

@import 'commons'; /* Header, footer */
@import 'articles'; /* Article page */
@import 'article'; /* Article single page */
@import 'pods'; /* Pod page */
