
/* -------- Podcasts -------- */


/* Variable Animations */

@mixin animation($animationVar) {
	-webkit-animation: $animationVar;
	   -moz-animation: $animationVar;
		-ms-animation: $animationVar;
		 -o-animation: $animationVar;
			animation: $animationVar;
}
@mixin transition($transitionVar) {
	-webkit-transition: $transitionVar;
	   -moz-transition: $transitionVar;
	        transition: $transitionVar;
}
@mixin box-shadow($boxShadowVar) {
	-webkit-box-shadow: $boxShadowVar;
	   -moz-box-shadow: $boxShadowVar;
			box-shadow: $boxShadowVar;
}
@mixin background-size($bgSizeVar) {			
	-webkit-background-size: $bgSizeVar;
	   -moz-background-size: $bgSizeVar;
			background-size: $bgSizeVar;
}
@mixin opacity($opacityVar) {			
	opacity: $opacityVar;
	-moz-opacity: $opacityVar; /* Netscape */
	-khtml-opacity: $opacityVar; /* Safari 1.x */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	filter: alpha(opacity=$opacityVar*100); /* IE 5-7 */
}


/* Animations */

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes fadein { /* Firefox < 16 */
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein { /* Safari, Chrome and Opera > 12.1 */
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-ms-keyframes fadein { /* Internet Explorer */
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes fadein { /* Opera < 12.1 */
	from { opacity: 0; }
	to   { opacity: 1; }
}