.login h1 a {
	background-image: url('/assets/img/ol_logo_black.png');
	background-size: 274px 181px;
	height: 185px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.login h1 a {
		background-image: url('/assets/img/ol_logo_black@2x.png');
		background-size: 274px 181px;
	}
}